<!DOCTYPE html>
<html lang="en" ng-app="homePageApp" ng-controller="homePageController as homePage">
<head>
  <title>{{homePage.name}}&#39;s Cool Website</title>

  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <meta name="description" content="{{homePage.name}}'s Website"></meta>
  <meta name="author" content="{{homePage.name}}"></meta>

  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"></link>
  <link href="css/bootstrap-table.css" rel="stylesheet"></link>
  <link href="css/style.css" rel="stylesheet"></link>
</head>
<body ng-cloak>

<!-- Start Main Banner -->
<div id="jumbo" class="jumbotron container-fluid">
  <h1>{{homePage.name | uppercase}}</h1>
  <h4><a id="email" href="mailto:{{homePage.email}}" target="_top">{{homePage.email}}</a></h4>
  <a ng-repeat="link in homePage.links" href="{{link.link}}"><img src="img/icons/{{link.image}}" /></a>
  <span class="hidden-xs">
     <ng-include src="'svg/svgclock.svg'"></ng-include>
  </span>
</div>
<!-- End Main Banner -->

<!-- Start Skill Summary (Column 1 and 2)-->
<div class="panel-body">
  <div class="col-lg-3 greyfont" ng-repeat="skill in homePage.skills">
    <h2>{{skill.headingTitle}}</h2>
      <div ng-repeat="subHeading in skill.subHeadings" >
      <h3>{{subHeading.subHeadingTitle}}</h3>
       <ul>
        <li ng-repeat="item in subHeading.subHeadingItems">{{item}}</li>
      </ul>
     </div>
  </div>

  <!-- Start Running Table (Column 3)-->
  <div class="col-lg-6 greyfont" >
    <span class="hidden-xs">
    <h2>Runner</h2>
      <table data-toggle="table" data-height="228" data-striped="true">
      	<thead>
      	  <tr>
      	    <th data-sortable="true">Date</th>
      	    <th data-sortable="true">Race</th>
      	    <th data-sortable="true">Km</th>
      	    <th data-sortable="true">Time</th>
      	  </tr>
      	</thead>
      	<tbody>
          <tr ng-repeat="race in homePage.races">
           <td>{{race.date}}</td>
           <td>{{race.race}}</td>
           <td>{{race.km}}</td>
           <td>{{race.time}}</td>
          </tr>
      	</tbody>
        <tfoot>
          <tr>
            <th data-sortable="true">{{homePage.totalTimeRunningYears}} Years and {{homePage.totalTimeRunningDays}} Days </th>
            <th data-sortable="true">Total Races: {{homePage.totalRaces}}</th>
            <th data-sortable="true">Total Km: {{homePage.totalKm}}</th>
            <th data-sortable="true">Total Time: {{homePage.totalHours}}:{{homePage.totalMinutes}}:{{homePage.totalSeconds}}</th>
          </tr>
        </tfoot>
      </table>
      <div></div>
  </span>
  </div>
</div>
<!-- End Summary -->

<!-- Line Pagebreak -->
<div id="pagebreak">
</div>

<!-- Start About me -->
<div class="container spacer">
  <div class="row">
    <div id="aboutme" class="col-lg-10">
      <h2>About me</h2>
	    <h4 ng-repeat="paragraph in homePage.aboutMeParagraphs">{{paragraph}}</h4>
    </div>
    <div class="col-lg-2 greyfont"></div>
  </div>
</div>
<!-- End About me -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="angular/angular.min.js"></script>
<script src="jquery/jquery-1.11.3.min.js"></script>
<script src="websitejs/svgclock.js"></script>
<script src="websitejs/angularHomePageApp.js"></script>
<script src="websitejs/bootstrap-table.js"></script>

<span class="hidden-xs">
<div class="footer">
    <div id="bottomemail" class="text-muted">Email questions or comments to: <a id="email" href="mailto:{{homePage.email}}" target="_top">{{homePage.email}}</a></div>
    <div id="copyright">© {{homePage.currentDate | date:'yyyy'}} {{homePage.name}}. All Rights Reserved.</div>
</div>
</span>

</body>
</html>
