<div *ngIf="daniel">
  <app-resume-header [daniel]="daniel"></app-resume-header>

  <div id="cv-body">
      <div id="two-skills">
        <app-skills-block [skills]="daniel.skills"></app-skills-block>
      </div>
      <div id="races">
        <app-running-table [races]="daniel.races"></app-running-table>
      </div>
  </div>
  <div id="pagebreak"></div>
  <app-about-me [aboutMeParagraphs]="daniel.aboutMeParagraphs"></app-about-me>
  <span class="hidden-xs">
    <div class="footer">
        <div id="bottomemail" class="text-muted">Email questions or comments to: <a id="email" href="mailto:{{daniel.email}}" target="_top">{{daniel.email}}</a></div>
        <div id="copyright">© {{daniel.currentDate | date:'yyyy'}} {{daniel.name}}. All Rights Reserved.</div>
    </div>
  </span>
</div>