.ResumeHeader {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    .Background {
        border: 0;
        padding: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 272px;    
    }
    .Banner {
        width: 100%;
        .Name {
            font-size: 5.2rem;
            font-weight: bold;
            font-family: "Loved by the King", cursive;
        }
        .Image {
            width: 30px;
            height: 30px;
            border-radius: 80%;
            background-color: white;
            border: 2px solid wheat;
        }
        .Email {
            padding-bottom: 5px;
            color: black;
            font-size: 1.2rem;
        }
        .Links {
            display: inline-block;
            flex-direction: row;
            justify-content: center;
            .Link {
                padding: 2px;
                width: 20px;
                height: 20px;
            }
            .Resume {
                // add space between the button and the links
                margin-top: 5px;
                text-decoration: none;
                align-items: center;
                appearance: none;
                border-radius: 24px;
                border-style: none;
                box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
                box-sizing: border-box;
                color: #3c4043;
                cursor: pointer;
                display: inline-flex;
                fill: currentcolor;
                font-family: "Rosarivo", cursive;
                font-size: 14px;
                font-weight: bolder;
                height: 30px;
                width: 70px;
                justify-content: center;
                letter-spacing: .25px;
                line-height: normal;
                max-width: 100%;
                overflow: visible;
                padding: 3px 20px;
                text-align: center;
                text-transform: none;
                transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                will-change: transform,opacity;
                background-color: #000000;
                color: rgb(251, 251, 251);
                z-index: 0;
              }
              
              .Resume:hover {
                background: #ffffff;
                color: #000000;
              }
              
              .Resume:active {
                box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
                outline: none;
              }
              
              .Resume:focus {
                outline: none;
                border: 2px solid #4285f4;
              }
              
              .Resume:not(:disabled) {
                box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
              }
              
              .Resume:not(:disabled):hover {
                box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
              }
              
              .Resume:not(:disabled):focus {
                box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
              }
              
              .Resume:not(:disabled):active {
                box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
              }
              
              .Resume:disabled {
                box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
              }
        }
    }
    @media screen and (max-width: 400px)
    {
        height: 450px;
        width: 380px;
        .Background {
            height: 430px;
        }
    }
}
