#resume-header {
    background-image: url("../../assets/img/icestorm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    top: 0px;
    padding: 10px;
    border-top-width: 0px;
    margin: 0px;
}

#resume-name {
    font-size: 40px;
}

// render email font in black
#email {
    padding-bottom: 10px;
    color: black;
}