/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';

.main {
    font-family: 'Muli',sans-serif;
    top: 0px;
    border: none;
    padding: 0px;
    margin: 0px;
}