<svg  #svgclock id="svgclock" [style.width]="clockCssWidth" [style.height]="clockCssHeight">
    <defs>
      <path id='clkCircle' [attr.d]="circlePath" [attr.transform]="circleTransform"></path>
      <path id="minute" [attr.d]="minuteHand"></path>
      <path id="hour" [attr.d]="hourHand"></path>
      <path id="second" [attr.d]="secondHand"></path>
    </defs>
    <text id="clock-circle" >
      <textPath xlink:href="#clkCircle">
        The Time Is Now.
        The Time Is Now.
        The Time Is Now.
      </textPath>
    </text>
    <text id="minute-hand">
      <textPath xlink:href="#minute">
        TheTimeIsNow
      </textPath>
    </text>
    <text id="hour-hand">
      <textPath xlink:href="#hour">
        NowNow
      </textPath>
    </text>
    <text id="second-hand">
      <textPath xlink:href="#second">
        TheTimeIsRightNow
      </textPath>
    </text>
  </svg>
