.AboutMe {
    .Paragraphs {
        font-family:  "Rosarivo", cursive;
        font-size: 2rem;
        text-align: center;
        padding-left: 140px;
        padding-right: 140px;

        @media screen and (max-width: 630px){
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 350px){
        padding-left: 0px;
        padding-right: 0px;
    }
}